:root {
    --xo: "Dosis", sans-serif;
    --title: "Staatliches", cursive;
    --primary: #151415;
    --secondary: #E1ECEF;
    --tertiary1: #AEB7B3;
    --tertiary2: #F2E2D2;
    --tertiary4: #C9DAE2;
    --dim: 0.3s ease;
    min-width: 375px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
}

main {
    position: relative;
}

span, p, a {
    color: var(--tertiary1);
    font-family: var(--xo);
    font-size: 2.4rem;
}

a {
    transition: var(--dim);
}

a:hover {
    color: #60ffa5;
    transition: var(--dim);
}

.title {
    display: flex;
    justify-content: center;
}

.title > h1 {
    color: var(--tertiary2);
    font-family: var(--title);
    font-size: 8rem;
    letter-spacing: -5px;
}

.restart {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.icon:enabled:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
    backface-visibility: hidden;
}

.icon {
    background-color: var(--secondary);
    box-shadow: 0 0 6px 1px #000411 inset;
    border: none;
    border-radius: 50px;
    padding: 15px;
    transition: var(--dim);
}

.icon:hover {
    background-color: #C9DAE2;
    cursor: pointer;
    transition: var(--dim);
}

.icon > svg {
    color: var(--tertiary3);
    width: 24px;
    height: 24px;
}

.announcements {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.game {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 10px;
}

.tile {
    /* will need to change the width and height units later to create a responsive grid */
    width: 125px;
    height: 125px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px #000411 inset;
    background-color: var(--secondary);
    transition: var(--dim);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-family: var(--xo);
    font-weight: 900;
}

.tile:enabled:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: var(--dim);
}

.tile:disabled {
    color: black;
}

.winner {
    background-color: rgb(94, 178, 238);
    transition: 0.7s ease;
}

footer {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 15px 0;
}