:root {
    --text: "Mukta", sans-serif;
    --xo: "Dosis", sans-serif;
    --title: "Staatliches", cursive;
    --primary: #151415;
    --secondary: #E1ECEF;
    --tertiary1: #AEB7B3;
    --tertiary2: #F2E2D2;
    --tertiary4: #C9DAE2;
    --dim: 0.3s ease;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
}

main {
    position: relative;
}

span, p, a {
    color: var(--tertiary1);
    font-family: var(--xo);
    font-size: 2.4rem;
}

a {
    transition: var(--dim);
}

a:hover {
    color: var(--tertiary2);
    transition: var(--dim);
}

.title {
    display: flex;
    justify-content: center;
}

.title > h1 {
    color: var(--tertiary2);
    font-family: var(--title);
    font-size: 8rem;
    letter-spacing: -5px;
}

.restart {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.icon {
    background-color: var(--secondary);
    box-shadow: 0 0 6px 1px #000411 inset;
    border-radius: 50px;
    padding: 15px;
    transition: var(--dim);
}

.icon:hover {
    background-color: #C9DAE2;
    cursor: pointer;
    transition: var(--dim);
}

.icon > svg {
    color: var(--tertiary3);
    width: 24px;
    height: 24px;
}

.game {
    display: flex;
    justify-content: center;
    margin: 3% 0;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 10px;
}

.block {
    /* will need to change the width and height units later to create a responsive grid */
    width: 125px;
    height: 125px;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px #000411 inset;
    background-color: var(--secondary);
    transition: var(--dim);
}

.block:hover {
    cursor: pointer;
    background-color: #b3c4cc;
    transition: var(--dim);
}

.block > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.scores > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.count {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--secondary);
    box-shadow: 0 0 6px 1px #000411 inset;
}

footer {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 15px 0;
}