:root {
    --text: var("Mukta", sans-serif);
    --xo: var("Dosis", sans-serif);
    --title: var("Rubik Maze", cursive);
    --color1: var(#e3dfff);
    --color2: var(#d3c0cd);
    --color3: var(#b19994);
    --color4: var(#937666);
    --color5: var(#3d3a4b);
    min-width: 300px;
    overflow-x: hidden;
    font-size: 10px;
    box-sizing: border-box;
}